@import url("https://fonts.googleapis.com/css2?family=Reggae+One&display=swap");

*,
*::before,
*::after {
	box-sizing: border-box;
}
body {
	background-color: #2f2f31;
	color: #fff;
	font-family: "Reggae One", sans-serif;
	text-transform: uppercase;
}
.score {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	border: 2px solid #5562eb;
	padding: 5px 25px;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	border-top: 0;
	border-left: 0;
}
.score::after {
	content: "";
	position: absolute;
	width: 25px;
	height: 25px;
	border-left: 2px solid #5562eb;
	transform: rotate(45deg);
	display: inline-block;
	background: #2f2f31;
	bottom: 0;
	right: 0;
	transform: translate(50%, 50%) rotate(45deg);
}
.inputGroup {
	display: block;
	margin: 10px 0;
	position: relative;
	background: #fff;
}
.inputGroup label {
	padding: 12px 30px;
	width: 100%;
	display: block;
	text-align: left;
	color: #3c454c;
	cursor: pointer;
	position: relative;
	z-index: 2;
	transition: color 200ms ease-in;
	overflow: hidden;
}

.active.inputGroup label {
	color: #fff;
}
.inputGroup label:before {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	content: "";
	background-color: #5562eb;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) scale3d(1, 1, 1);
	transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
	opacity: 0;
	z-index: -1;
}

.inputGroup label:after {
	width: 32px;
	height: 32px;
	content: "";
	border: 2px solid #d1d7dc;
	background-color: #fff;
	background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
	background-repeat: no-repeat;
	background-position: 2px 3px;
	border-radius: 50%;
	z-index: 2;
	position: absolute;
	right: 30px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	transition: all 200ms ease-in;
}
.inputGroup.active label:before {
	transform: translate(-50%, -50%) scale3d(56, 56, 1);
	opacity: 1;
}

.inputGroup.active label:after {
	background-color: #54e0c7;
	border-color: #54e0c7;
}

.inputGroup input {
	width: 32px;
	height: 32px;
	order: 1;
	z-index: 2;
	position: absolute;
	right: 30px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	visibility: hidden;
}
.form {
	padding: 0 16px;
	max-width: 550px;
	margin: 50px auto;
	font-size: 18px;
	font-weight: 600;
	line-height: 36px;
}
.image {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 200px;
}
.image img {
	height: 200px;
}

.container {
	width: 85px;
	height: 85px;
}
.container .box1,
.container .box2,
.container .box3 {
	border: 16px solid #f5f5f5;
	box-sizing: border-box;
	position: absolute;
	display: block;
}
.container .box1 {
	width: 85px;
	height: 30px;
	margin-top: 50px;
	margin-left: 0px;
	animation: anime1 4s 0s forwards ease-in-out infinite;
}
.container .box2 {
	width: 30px;
	height: 30px;
	margin-top: 0px;
	margin-left: 0px;
	animation: anime2 4s 0s forwards ease-in-out infinite;
}
.container .box3 {
	width: 30px;
	height: 30px;
	margin-top: 0px;
	margin-left: 50px;
	animation: anime3 4s 0s forwards ease-in-out infinite;
}
@keyframes anime1 {
	0% {
		width: 85px;
		height: 30px;
		margin-top: 50px;
		margin-left: 0px;
	}
	12.5% {
		width: 30px;
		height: 30px;
		margin-top: 50px;
		margin-left: 0px;
	}
	25% {
		width: 30px;
		height: 30px;
		margin-top: 50px;
		margin-left: 0px;
	}
	37.5% {
		width: 30px;
		height: 30px;
		margin-top: 50px;
		margin-left: 0px;
	}
	50% {
		width: 30px;
		height: 30px;
		margin-top: 50px;
		margin-left: 0px;
	}
	62.5% {
		width: 30px;
		height: 30px;
		margin-top: 50px;
		margin-left: 0px;
	}
	75% {
		width: 30px;
		height: 85px;
		margin-top: 0px;
		margin-left: 0px;
	}
	87.5% {
		width: 30px;
		height: 30px;
		margin-top: 0px;
		margin-left: 0px;
	}
	100% {
		width: 30px;
		height: 30px;
		margin-top: 0px;
		margin-left: 0px;
	}
}
@keyframes anime2 {
	0% {
		width: 30px;
		height: 30px;
		margin-top: 0px;
		margin-left: 0px;
	}
	12.5% {
		width: 30px;
		height: 30px;
		margin-top: 0px;
		margin-left: 0px;
	}
	25% {
		width: 30px;
		height: 30px;
		margin-top: 0px;
		margin-left: 0px;
	}
	37.5% {
		width: 30px;
		height: 30px;
		margin-top: 0px;
		margin-left: 0px;
	}
	50% {
		width: 85px;
		height: 30px;
		margin-top: 0px;
		margin-left: 0px;
	}
	62.5% {
		width: 30px;
		height: 30px;
		margin-top: 0px;
		margin-left: 50px;
	}
	75% {
		width: 30px;
		height: 30px;
		margin-top: 0px;
		margin-left: 50px;
	}
	87.5% {
		width: 30px;
		height: 30px;
		margin-top: 0px;
		margin-left: 50px;
	}
	100% {
		width: 30px;
		height: 30px;
		margin-top: 0px;
		margin-left: 50px;
	}
}
@keyframes anime3 {
	0% {
		width: 30px;
		height: 30px;
		margin-top: 0px;
		margin-left: 50px;
	}
	12.5% {
		width: 30px;
		height: 30px;
		margin-top: 0px;
		margin-left: 50px;
	}
	25% {
		width: 30px;
		height: 85px;
		margin-top: 0px;
		margin-left: 50px;
	}
	37.5% {
		width: 30px;
		height: 30px;
		margin-top: 50px;
		margin-left: 50px;
	}
	50% {
		width: 30px;
		height: 30px;
		margin-top: 50px;
		margin-left: 50px;
	}
	62.5% {
		width: 30px;
		height: 30px;
		margin-top: 50px;
		margin-left: 50px;
	}
	75% {
		width: 30px;
		height: 30px;
		margin-top: 50px;
		margin-left: 50px;
	}
	87.5% {
		width: 30px;
		height: 30px;
		margin-top: 50px;
		margin-left: 50px;
	}
	100% {
		width: 85px;
		height: 30px;
		margin-top: 50px;
		margin-left: 0px;
	}
}

.btnSubmit {
	min-width: 200px;
	position: relative;
	color: #5562eb;
	text-decoration: none;
	font-size: 15px;
	font-weight: bold;
	display: inline-block;
	height: 50px;
	text-transform: uppercase;
	padding: 10px 20px;
	border: 2px solid #5562eb;
	transition: 0.02s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
	background: transparent;
	color: #fff;
}
.btnSubmit::before {
	content: "";
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	right: 100%;
	bottom: 0;
	background: #5562eb;
	transition: 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1),
		left 0.3s cubic-bezier(0.1, 0, 0.1, 1);
	z-index: -1;
}
.btnSubmit::after {
	content: "";
	display: inline-block;
	background-image: url("https://image.flaticon.com/icons/png/128/109/109617.png");
	position: absolute;
	top: 0;
	left: calc(100% - 3em);
	right: 3em;
	bottom: 0;
	background-size: 1.5em;
	background-repeat: no-repeat;
	background-position: center;
	transition: right 0.3s cubic-bezier(0.1, 0, 0.1, 1);
}
.btnSubmit:hover {
	padding: 0.5em 3.5em 0.5em 0.5em;
}
.btnSubmit:hover::before {
	left: calc(100% - 3em);
	right: 0;
	transition: 0.3s cubic-bezier(0.1, 0, 0.1, 1),
		left 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
}
.btnSubmit:hover::after {
	right: 0;
	transition: right 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
}
.flex-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
